In [1]:
#import needed packs
import dask.dataframe as dd
import pandas as pd
import numpy as np

In [2]:
enem = pd.read_csv('./aws_s3/data/MICRODADOS_ENEM_2020.csv',sep=';', decimal=',', encoding='latin1')

In [3]:
#Q6: Sobre o ENEM 2020, qual é a média da nota em matemática apenas para as alunas do sexo Feminino? 
#About ENEM 2020, what is the average grade in mathematics only for female students?
pd_femino = enem.loc[enem['TP_SEXO'] == 'F']
round(pd.to_numeric(pd_femino.NU_NOTA_MT).mean(), 2)

500.69

In [4]:
#Q7: Qual é a média da nota em Ciências Humanas para os alunos do sexo masculino que estudaram numa escola no estado de São Paulo? 
#What is the average grade in Human Sciences for male students who studied at a school in the state of São Paulo?
pd_masculino = enem.loc[
    (enem['TP_SEXO'] == 'M') &
    (enem['SG_UF_ESC'] == 'SP')]
round(pd.to_numeric(pd_masculino.NU_NOTA_CH).mean(), 2)

553.68

In [5]:
pd_city = enem.loc[
    (enem['SG_UF_PROVA'] == 'MG')]
pd.to_numeric(pd_city.NU_NOTA_CN).max()

829.6

In [6]:
enem['NU_NOTA_CN'] = enem['NU_NOTA_CN'].astype('float')
enem.dtypes

NU_INSCRICAO        int64
NU_ANO              int64
TP_FAIXA_ETARIA     int64
TP_SEXO            object
TP_ESTADO_CIVIL     int64
                    ...
Q021               object
Q022               object
Q023               object
Q024               object
Q025               object
Length: 76, dtype: object

In [7]:
#Q8 Qual é a cidade (município da escola) que possui a MAIOR nota em Ciências Naturais?
#Which city (municipality of the school) has the HIGHEST score in Natural Sciences?
#Question was cancelled, because the answer was not available
enem[enem['NU_NOTA_CN']==enem['NU_NOTA_CN'].max()].reset_index()['NO_MUNICIPIO_ESC']

0    João Pessoa
1       Brasília
2            NaN
3            NaN
Name: NO_MUNICIPIO_ESC, dtype: object

In [8]:
enem[pd.to_numeric(enem['NU_NOTA_CN'])==pd.to_numeric(enem['NU_NOTA_CN']).max()].reset_index()['NO_MUNICIPIO_ESC']

0    João Pessoa
1       Brasília
2            NaN
3            NaN
Name: NO_MUNICIPIO_ESC, dtype: object

In [9]:
#Q9: Qual é a média da nota em Ciências Humanas dos alunos que estudaram numa escola na cidade de Natal? 
#What is the average grade in Human Sciences of students who studied at a school in the city of Natal?
pd_natal = enem.loc[
    (enem['NO_MUNICIPIO_ESC'] == 'Natal')]
round(pd.to_numeric(pd_natal.NU_NOTA_CH).mean(), 2)

548.18

In [10]:
#Q10 Qual é o município (município da escola) que obteve a maior nota MÉDIA em matemática? 
#Which municipality (school municipality) obtained the highest AVERAGE score in mathematics?
#filter dataframe
pd_cities = enem.loc[:,['NO_MUNICIPIO_ESC', 'NU_NOTA_MT']].fillna(0)
pd_cities

            NO_MUNICIPIO_ESC NU_NOTA_MT
0                          0          0
1                          0      711.3
2                   Salvador          0
3        Santana de Parnaíba      759.4
4                          0          0
...                      ...        ...
5783104              Crateús      725.7
5783105          Três Lagoas      719.5
5783106                    0      648.1
5783107               Cuiabá          0
5783108             São Luís      481.7

[5783109 rows x 2 columns]

In [11]:
#Converting object to float
pd_cities['NU_NOTA_MT'] = pd_cities['NU_NOTA_MT'].astype('float')
pd_cities.dtypes

NO_MUNICIPIO_ESC     object
NU_NOTA_MT          float64
dtype: object

In [12]:
grouped_cities = pd_cities.groupby(['NO_MUNICIPIO_ESC']).agg({'NU_NOTA_MT': ['mean', 'min', 'max']})
grouped_cities.columns = ['nu_mean', 'nu_min', 'nu_max']
grouped_cities = grouped_cities.reset_index()
print(grouped_cities.sort_values(by='nu_mean', ascending=False))

           NO_MUNICIPIO_ESC  nu_mean  nu_min  nu_max
3232             Novo Xingu    836.1   836.1   836.1
1255       Coqueiros do Sul    787.4   787.4   787.4
5106                 Vanini    713.4   713.4   713.4
4112   Santa Cecília do Sul    666.7   666.7   666.7
2957               Montauri    652.7   652.7   652.7
...                     ...      ...     ...     ...
5006              Tuparendi      0.0     0.0     0.0
4214  Santa Tereza do Oeste      0.0     0.0     0.0
2076        Inúbia Paulista      0.0     0.0     0.0
4201    Santa Rosa da Serra      0.0     0.0     0.0
4228  Santana de Cataguases      0.0     0.0     0.0

[5269 rows x 4 columns]

In [13]:
#Q11: Quantas pessoas que estudaram numa escola no estado do Rio de Janeiro do sexo masculino obtiveram nota em matemática maior do que 600?
#How many male people who studied at a school in the state of Rio de Janeiro had a math score greater than 600?
#Question was cancelled, because the answer was not available
enem.loc[
     (enem['SG_UF_ESC'] == 'RJ') & 
     (enem['TP_SEXO'] == 'M') &
     (pd.to_numeric(enem['NU_NOTA_MT']) > 600)
].count()

NU_INSCRICAO       8578
NU_ANO             8578
TP_FAIXA_ETARIA    8578
TP_SEXO            8578
TP_ESTADO_CIVIL    8578
                   ...
Q021               8503
Q022               8503
Q023               8503
Q024               8503
Q025               8503
Length: 76, dtype: int64

In [14]:
#Q12:  Quantas pessoas que estudaram numa escola em Recife fizeram a prova do ENEM nessa mesma cidade?
#How many people who studied at a school in Recife took the ENEM test in that same city?
enem.loc[
     (enem['NO_MUNICIPIO_ESC'] == 'Recife') & 
     (enem['NO_MUNICIPIO_PROVA'] == 'Recife') 
].count()

NU_INSCRICAO       9619
NU_ANO             9619
TP_FAIXA_ETARIA    9619
TP_SEXO            9619
TP_ESTADO_CIVIL    9619
                   ...
Q021               9494
Q022               9494
Q023               9494
Q024               9494
Q025               9494
Length: 76, dtype: int64

In [15]:
#Q13 Quantas mulheres que moram sozinhas, estudaram numa escola no estado de SP fizeram a prova de Ciências Humanas do ENEM em 2020? 
#How many women who live alone studied at a school in the state of SP took the ENEM Human Sciences test in 2020?
#Question was cancelled, because the answer was not available
enem.loc[
     (enem['SG_UF_ESC'] == 'SP') & 
     (enem['TP_SEXO'] == 'F') &
     (enem['Q005'] == 1) &
     (enem['TP_PRESENCA_CH'] == 1)
].count()

NU_INSCRICAO       65
NU_ANO             65
TP_FAIXA_ETARIA    65
TP_SEXO            65
TP_ESTADO_CIVIL    65
                   ..
Q021               65
Q022               65
Q023               65
Q024               65
Q025               65
Length: 76, dtype: int64

In [16]:
#Guessing later on after getting that the Q13 was cancelled. If Gender was changed, a value expected is found
enem.loc[
     (enem['SG_UF_ESC'] == 'SP') & 
     (enem['TP_SEXO'] == 'M') &
     (enem['Q005'] == 1) &
     (enem['TP_PRESENCA_CH'] == 1)
].count()

NU_INSCRICAO       90
NU_ANO             90
TP_FAIXA_ETARIA    90
TP_SEXO            90
TP_ESTADO_CIVIL    90
                   ..
Q021               90
Q022               90
Q023               90
Q024               90
Q025               90
Length: 76, dtype: int64

In [29]:
#Q14 Qual é a nota média em Ciências Humanas dos alunos que estudaram numa escola no estado de Santa Catarina e possuem PELO MENOS 1 banheiro em casa? 
#What is the average grade in Human Sciences of students who studied at a school in the state of Santa Catarina and have AT LEAST 1 bathroom at home?

#Converting object to float
enem['NU_NOTA_CH'] = enem['NU_NOTA_CH'].astype('float')

(enem.loc[
     (enem['SG_UF_ESC'] == 'SC') &
     ((enem['Q008'] == 'B') | (enem['Q008'] == 'C') | (enem['Q008'] == 'D') | (enem['Q008'] == 'E'))
].NU_NOTA_CH).mean()

545.0439967817798

In [28]:
#Q15 Qual é a nota média em matemática dos alunos cuja mãe possui PELO MENOS o ensino superior completo, do sexo feminino que estudaram numa escola em Belo Horizonte? 
#What is the average grade in mathematics of female students whose mother has at least completed higher education, who studied in a school in Belo Horizonte?

pd.to_numeric(enem.loc[
     (enem['NO_MUNICIPIO_ESC'] == 'Belo Horizonte') &
     (enem['TP_SEXO'] == 'F') &
     ((enem['Q002'] == 'F') | (enem['Q002'] == 'G'))
].NU_NOTA_MT).mean()

667.1279782501242